
<section class="container">


<div id="games-carousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div  ui-sref="game({id: game.short})" ng-class="{true: 'active', false: ''}[$index==0]"  class="item animated fadeIn" ng-repeat="game in carouselGames track by $index">
      <img class="games-carousel-img" ng-src="{{game.imgBig}}" alt="{{game.name}}">
      <div class="carousel-caption">
        {{game.name}}
      </div>
    </div>


  </div>

</div>

<games></games>

</section>