.game-header{
  position: relative;
  .game-in-collection{
    color: grey;
  }
  .game-not-in-collection{
    color: black;
  }
  .game-header-button{
    cursor: pointer;
  }
  .game-header-img{
    display: none;
    width: 764px;
    margin: auto;
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-color: #1995dc;
    border-radius: 0px 0px 10px 10px;
    @media (max-width: 764px) {
      width: 100%;
    }
  }
}

.game-link{
  margin: 20px;
  .game-link-img{
     border: 5px solid #1995dc;
     border-radius: 50px;
  }
}

